.App {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items:  center;
  text-align: center;
  display: flex;
}

.jacketPatterns {
  display: flex;
  flex-wrap: wrap;
}

.jacketIcon {
  cursor: pointer;
  margin-right: 0.6em;
}

.rightPanel {
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  background-color: #f8f8f8;
  width: 444px;
  height: auto;
}

.dressPanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

div .color {
  cursor: pointer;
  border: 1px solid #111111;
  border-radius: 0.2em;
  padding: 0.1em;
  width: 1.5em;
  height: 1.5em;
  margin-top: 0.3em;
  height: 21px;
  width: 21px;
  padding: 0;
  margin: 4px;
}

.patternTitle {
  display: flex;
  flex-basis: 100%;
  justify-self: flex-start;
}

.colorPalette {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}